.d-flex.align-items-center {
   
    background-color: #f6d743;
    font-family: "Press Start 2P", cursive;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;margin-top: 7.5rem !important;
  }

  